<% include ../partials/header %>


<div class="container">
        <div class="row jpsubmit">
            <div class="col-sm-12 col-md-8">          
              <div class="row">
                <div class="col-md-8">
                <strong>Applicant's Name :</strong>  <%= application.applicant.firstname %> <%= application.applicant.lastname%><br>
                <strong>Applicant's Gender :</strong><%= application.applicant.gender %><br>
                <strong>Applicant's Date of Birth :</strong><%= application.applicant.dob %><br>
                <strong>Applicant City :</strong><%= application.applicant.city %><br>
                <strong>Applicant's State :</strong> <%= application.applicant.state %><br>
                <strong>Applicant's Country :</strong> <%= application.applicant.country %><br>
                <strong>Applicant's Phone Number :</strong><%= application.applicant.phone %><br>
                <strong>Applicant's Email :</strong><%= application.applicant.email %><br>
                </div>
              </div> <hr>
            

            </div><!--Ending of the main section-->
                <%# Beginning of the right section %>
                <div class="col-md-4">
              <div class="card  bg-primary mb-3" style="max-width: 18rem;">
                  <!-- <div class="card-header">Header</div> -->
                  <div class="card-body text-white">
                    <!-- <h5 class="card-title">Create An Account With Us</h5> -->
                      <h3>
                        Create an Account with Us
                        <small class="card-text"> and we Will Get You Noticed!</small>
                      </h3>
                  </div>
                  <button type="button" class="btn btn-danger search">Join Today!</button>
              </div>
          
            </div>
         </div>   
      </div>


<% include ../partials/footer %>